<!DOCTYPE html>

<html lang="{{ language }}"> 
<head>
	<title>{{ title }}</title>
	<meta charset='UTF-8'>

	<base href="{{ base_url }}" />

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="description" content="Play EyeWire to map the 3D structure of neurons and contribute to revolutionary crowd-sourced scientific discovery from Seung Lab.">
	<meta property="og:image" content="http://eyewire.org/static/images/fblogo-large.png">
	<meta property="og:description" content="Play EyeWire to map the 3D structure of neurons and contribute to revolutionary crowd-sourced scientific discovery from Seung Lab.">

	<!-- https://stackoverflow.com/questions/26960703/how-to-change-the-color-of-header-bar-and-address-bar-in-newest-android-chrome-v -->
	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#3B556A">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#3B556A">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#3B556A">

	<link rel="shortcut icon" sizes="16x16" href="favicon.ico" type="image/x-icon">
	<link rel="shortcut icon" sizes="32x32" href="favicon32x32.png" type="image/png">
	<link rel="shortcut icon" sizes="64x64" href="favicon64x64.png" type="image/png">
	
	<link href="{{ base_url }}/css/all.css" rel="stylesheet" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Lato:400,700|Roboto+Condensed:400,700|Vollkorn:400,400italic' rel='stylesheet' type='text/css'>

	<script>
		window.GLOBAL = { 
			production: {{production}},
		};
	</script>

	<script type="text/javascript" src="{{ base_url }}/js/intake.min.js"></script>

	{{#if production}}
	<script>
	// Google Analytics
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-28625308-1', 'auto');
	  ga('send', 'pageview');

	// Mixpanel
	(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);mixpanel.init("1d21701286a0e955ba3d02186f519435");
	</script>
	{{/if}}
</head>
<body>
	<section id="viewport" class="parallax">
		<div class="parallax-group">
			<div id="intake-logo" class="logo parallax-layer">
				<div id="bumper">
					<div class="bumper ">
						<div class="Es">
							<div class="E"></div>
							<div class="E E-right"></div>
						</div>
						<div class='dots'>
							<div class="dot dot-left"></div>
							<div class="dot dot-right"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="intake-front parallax-layer neuron-layer">
				<div class="left neuron"></div>
				<div class="right neuron"></div>
			</div>
			<div class="intake-middle parallax-layer neuron-layer">
				<div class="left neuron"></div>
				<div class="right neuron"></div>
			</div> 
			<div class="intake-rear parallax-layer neuron-layer">
				<div class="left neuron"></div>
			</div>
			<div class="intake-carpet parallax-layer neuron-layer">
				<div class="neuron"></div>
			</div> 
			<section id="gateway" class="gateway parallax-layer">
				
			</section> 
			<section id="intake" class="parallax-layer">
				
			</section>
			<section id="explore" class="parallax-layer">
				
			</section>
		</div>
	</section>
	<header id="header"></header>
 </body>
 </html>